body{
    background-color: white!important;
}
.fotka{
    padding-left: 20px;
}
.card, .btn, .form-control { border: 0; }
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-stuba {
    background-color: #1ab26b;
    color: #fff;
}
.btn-google {
    background-color: #de4b39;
    color: #fff;
}